/* web/modules/custom/simple_video_popup/css/mpu.css */
#mpu-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.mpu-popup-content {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  width: 600px;
  /* Set the width */
  height: 325px;
  /* Set the height */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mpu-popup-content iframe {
  width: 100%;
  height: 100%;
  border: none;
  /* Remove iframe border */
}

.mpu-popup-content video {
  width: 100%;
  height: 100%;
  border: none;
  /* Remove iframe border */
}

.mpu-popup-content img {
  width: 100%;
  height: 100%;
  border: none;
  /* Remove iframe border */
}

.freeze {
  overflow: hidden;
}

.video-display-hidden {
  display: none;
}

.mpu-popup-container {
  position: relative;
  width: 302px;
  height: 177px;
  margin-top: 8px;
}

.mpu-popup-container video {
  width: 100%;
  height: 100%;
}

.mpu-popup-container iframe {
  width: 100%;
  height: 100%;
}

.mpu-popup-container .mpu-show-pop-up {
  position: relative;
  /* background-color: red; */
  width: 48px;
  top: 58.5%;
  height: 40px;
  left: 41%;
  /* pointer-events: all; */
  background: transparent;
  border: none;
  cursor: pointer;
}

video.mpu-media-oembed-content {
  pointer-events: none;
}

button#mpu-close-btn {
  background: transparent;
  border: none;
  position: absolute;
  bottom: 98%;
  left: 91%;
  cursor: pointer;
}

img.mpu-image.mpu-show-pop-up {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

button.mpu-show-pop-up.mpu-pdf {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

/* Media queries */
@media screen and (max-width: 570px) {
  .mpu-popup-content {
    width: 399px;
    height: 250px;
  }

  button#mpu-close-btn {
    left: 86%;
  }
}

@media screen and (max-width: 470px) {
  .mpu-popup-content {
    width: 299px;
    height: 200px;
  }

  button#mpu-close-btn {
    left: 83%;
  }
}
